button, .btn {
  background-color: $primary-color;
  color: $base-white-color;
  border: none;
  outline: none;
  padding: 10px 16px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: .3s;
  text-align: center;
  font-size: 18px;

  &:hover {
    background-color: $primary-color-darken;
  }

  &.btn-disable {
    transition: .3s;
    background-color: $primary-color-bright;
    cursor: default;
  }

  &.btn-block {
    display: block;
  }
}

.fab {
  border-radius: 50%;
  padding: 8px 13px;
  position: absolute;
  bottom: 30px;
  right: 50px;

  i {
    font-size: 26px;
  }
}