button, .btn {
  background-color: $primary-color;
  color: $base-white-color;
  border: none;
  outline: none;
  padding: 10px 16px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: .3s;
  text-align: center;
  font-size: 18px;
  height: auto;

  &:hover {
    background-color: $primary-color-darken;
  }

  &.btn-disable {
    transition: .3s;
    background-color: $primary-color-bright;
    cursor: default;
  }

  &.btn-block {
    margin-top: 14px;
    width: 100%;
    display: block;
  }

  &.btn-sm {
    padding: 6px 10px;
  }

  &.btn-danger {
    background-color: $base-danger-color;
  }
}

.fab {
  border-radius: 50%;
  padding: 12px 13px 8px 13px;
  position: fixed;
  bottom: 30px;
  right: 40px;
  -webkit-box-shadow: 10px 10px 10px -6px rgba(0,0,0,0.25);
  -moz-box-shadow: 10px 10px 10px -6px rgba(0,0,0,0.25);
  box-shadow: 10px 10px 10px -6px rgba(0,0,0,0.25);

  i {
    font-size: 26px;
  }
}